/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}















body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*###### START HERE ######*/












@font-face {
	font-family:'Montserrat-Hairline';
	src: url('Montserrat-Hairline_gdi.eot');
	src: url('Montserrat-Hairline_gdi.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Hairline_gdi.woff') format('woff'),
		url('Montserrat-Hairline_gdi.ttf') format('truetype'),
		url('Montserrat-Hairline_gdi.svg#Montserrat-Hairline') format('svg');
	font-weight: 250;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}






body {
	font-family: Montserrat-Hairline;
	width: 100%;

}




#siteHeader{
	
	color: #999999;
	font-size: 200%;
	float: left;
	padding-left: 1%;

	

}

#top-banner {
	width: 100%;
	padding-top: .75%;
	height: 35px;

}

#mainNavBar{
	float: right;
	padding-top: .5%;
	padding-right: 1%;

}

#mainNavBar li{
	
	color: #999999;
	float: right;
	font-size: 140%;


}

a {
	text-decoration: none;
	color: #999999;
}


#homeImage img{
	width: 100%;
	padding-bottom: 4%;
}

#workImages img {
	
	
	width: 33%;
	margin-bottom: 3px;
	margin-right: 1.6px;
	

	
}

#workImages {
margin-left: 0px;
margin-right: -6.1px;

}


footer {
clear: both;
	width: 100%;
	color: #999999;

	padding-top: 30%;

}







/*CONTACT CSS*/

#text {
		font-family: Montserrat-Hairline;

}


#info {
	float: left;
	width: 100%;
	padding-top: 4%;
	padding-bottom: 4%;
	


}

#contact-form h1 {
	margin-left: 10%;
	margin-bottom: 3%;

}

#contact-form {
	
	
	margin: 0 auto;
	width: 50%;
	background-color: rgba(255,255,255,.85);
	padding: 2%;
	
	
	margin-top: 100px;

}

#submit {
	margin-top: 1%;
	font-family: inherit;
	padding-top: .5%;
}



#submit input {
	
	font-family: inherit;
	font-size: 70%;
	padding: .85%;
	border-style:none;
}


textarea {
	
	font-family: Montserrat-Hairline;
	font-size: 80%;
}


label {
	color: #999999;
	padding-bottom: 1%;
	padding-top: 2%;

font-family: Montserrat-Hairline;
	
}

textarea{
	padding: 20%;
	font-family: Montserrat-Hairline;
}

fieldset {
	padding-left: 10%;
	font-family: Montserrat-Hairline;
		
}

#backgroundImage {
	position: absolute;
	
	   left: 0px;
   
    z-index: -1;

}


/*CV CSS*/

#CV {
	
	margin: 0 auto;
	width: 50%;
	margin-top: 100px;
}


@media screen and (max-width:912px) {
      #siteHeader {font-size: 140%;}
      #mainNavBar {font-size: 70%;}
      #top-banner {height: 30px;}
      #workImages img {width: 32%;}
      footer {font-size: .3em;}
      #main-nav {font-size: .5em;}
      


912px


@media screen and (max-width:400px) {
      #siteHeader {font-size: 140%;}
      #mainNavBar {font-size: 70%;}
      #top-banner {height: 30px;}
      #workImages img {width: 32%;}
      footer {font-size: .3em;}
      #main-nav {font-size: .5em;}
    





